h1{
  color:purple
}

button{
  box-shadow:2px 2px 2px;
  width:100px;
  padding:5px;
  background: #2c3e50;
  color: white;
  font-size: 15px;
}
button1{
  box-shadow:2px 2px 2px;
  width:100px;
  padding:5px;
  background: #2c3e50;
  color: blue;
  font-size: 15px;
}