header{

background-color: black;
color:white;
margin: 0;
padding-top:10px;
padding-bottom: 10px;
font-size: 20px;

}

#download
{
    background-color: red;
    color: white;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

h3{
    display: inline-block;
    margin-left: 50px;
}

body{
    margin:0;
}


.container{
    margin-left: 50px;
    margin-right: 50px;
}

#navigation
{
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

button
{
    background-color:#ffffff;
    color: #20B2AA;
    border-color: #00BFFF;
    font-size: 6mm;
    border-radius: 15px;
    margin-right: 10px;
}

button:hover
{
background-color:#ADD8E6;
}

img{
    margin:10px 10px;
    display: inline-block;
    width: 280px;
    position: relative;
}

footer{
    background-color: black;
color:white;
margin: 0;
padding-top:5px;
padding-bottom: 5px;
text-align: center;
font-size: 10px;
}